<div class="container">
  <div class="row">
    <div class="col-md-5">
      <form [formGroup]="credForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control"  required formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" required class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-md-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Email ID</th>
            <th scope="col">Password</th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataList ; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{data.email}}</td>
            <td>{{data.password}}</td>
            <td>
              <div class="d-flex"><button (click)="editForm(data)"class="btn btn-primary m-3">Edit</button>
                <button class="btn btn-danger m-3" (click)="deleteCreds(data.id)">delete</button></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>